.synlist{
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid blueviolet;
    box-sizing: border-box;
    height: 40px;
}

.container{
    margin-top: 10px;
    height:120px;
}